/* Hardware accelaration HACK - See SVG course on Frontendmasters "Perfomance & GSAP" */
/* @mixin accelerate() {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
} */

.pathClass {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  fill: #075985;
  stroke: white;
  stroke-width: 2;
  animation: pulsate 5s 2s ease-out; /* name-you-pick, x seconds longs, wait x seconds, how many times etc  --> minus value starts earlier*/
}

.svg {
  overflow: visible;
}

@keyframes pulsate {
  0% {
    fill: #075985;
  }
  100% {
    fill: white;
  }
}
