.animate {
  transition: all 0.35s ease-in-out;
  animation: shadowAppear 1s 1s ease-out forwards;
}

.animate.hide {
  transform: translateY(-50%);
  opacity: 0;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1024px) {
  .navigation {
    width: 30%;
  }
}

.appear {
  transition: all 1s ease-out;
}

.appear.swipein {
  transform: translateY(0);
  opacity: 1;
}

@-webkit-keyframes shadowAppear {
  0% {
    box-shadow: 0;
  }
  100% {
    -webkit-box-shadow: -4px 4px 0px 2px #000000;
    box-shadow: -4px 4px 0px 2px #000000;
  }
}
@keyframes shadowAppear {
  0% {
    box-shadow: 0;
  }
  100% {
    -webkit-box-shadow: -4px 4px 0px 2px #000000;
    box-shadow: -4px 4px 0px 2px #000000;
  }
}
