.animate {
  transition: all 0.35s ease-in-out;
  animation: flashLight 2s 2s 2 ease-out forwards;
}

.animate.hide {
  transform: translateY(-50%);
  opacity: 0;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1024px) {
  .navigation {
    width: 30%;
  }
}

.appear {
  transition: all 1s ease-out;
}

.appear.swipein {
  transform: translateY(0);
  opacity: 1;
}

@keyframes flashLight {
  0% {
    /* background-color: #075985; */

    background-color: #47b5ff;
  }
  10% {
    background-color: white;
  }
  100% {
    background-color: #47b5ff;
  }
}

/* @-webkit-keyframes shadowAppear {
  0% {
    box-shadow: 0;
  }
  100% {
   -webkit-box-shadow: -17px 15px 0px 4px #000000;
    box-shadow: -17px 15px 0px 4px #000000;
  }
}
@keyframes shadowAppear {
  0% {
    box-shadow: 0;
  }
  100% {
    -webkit-box-shadow: -10px 8px 0px 2px #000000;
    box-shadow: -10px 8px 0px 2px #000000;
  }
} */
