.animate {
  transition: all 0.35s ease-in-out;
}

.animate.hide {
  transform: translateY(-50%);
  opacity: 0;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1024px) {
  .navigation {
    width: 30%;
  }
}

.appear {
  transition: all 1s ease-in-out;
}

.appear.swipein {
  transform: translateY(0);
  opacity: 1;
}
